.container {
  display: flex;
  gap: 12px;
  max-width: 1024px;
  margin: 12px auto;
  min-height: 280px;
}

.ball-selector,
.result,
.bet-slip {
  padding: 20px;
  background-color: var(--background-0);
  border-radius: 6px;
}

.ball-selector,
.result {
  flex: 2;
}

.bet-slip {
  flex: 1;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
}
